[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "output"]
	path = output
	url = git@github.com:yjk21/yjk21.github.io
    ignore = all
[submodule "themes/pelican-themes"]
	path = themes/pelican-themes
	url = git@github.com:getpelican/pelican-themes.git
    ignore = all
